@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-800 antialiased;
}

.fade-in {
  animation: fadeIn .35s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
